@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

li {
    list-style: none;
}

.cover-letter {
    min-width: min-content;
    padding: 10px 55px;
    width: 100%;
    max-width: 600px;
    background-color: var(--color-aux);
    border: 3px solid var(--color-primary);
    border-radius: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-letter__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cover-letter__header img {
    object-fit: cover;
    max-width: 108px;
}

.cover-letter__header h1 {
    font-size: 4.5rem;
}

.cover-letter > .sidebar__divider {
    width: 100%;
    height: 3px;             
    background: linear-gradient(to right, transparent 0%, #fff3 45%, #fff3 55%, transparent 100%); 
}

.contact-menu {
    width: 100%;
    text-align: center;
}

.contact-menu__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-menu__list-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-menu__list-item:first-of-type {
    margin-top: 20px;
}

.contact-menu__list-item:last-of-type {
    margin-bottom: 20px;
}

.contact-menu__list-item > a {
    width: 75%;
    padding: 7px 25px;
    margin: 10px 0;
    background-color: #7890a8;
    border-radius: 25px;

    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    transition: all 0.3s;
}

.contact-menu__list-item > a:hover {
    background-color: #a3c4c2aa;
}

.contact-menu__list-item > a > i {
    margin-left: 30px;
    font-size: 1.4rem;
    color: #304878bb;
} 

.contact-menu__list-item > a > span {
    margin-right: 30px;
    width: 100px;
    font-size: 1.4rem;
    color: #eee;
} 

/* Para dispositivos mobile ============================  */

@media (max-width:600px){

    .main-content{
        max-width: 100%;       
        padding: 80px 15px 20px 15px;  
    }

    .cover-letter{
        padding: 10px 7vw;
        max-width: 90vw;
    }

    .cover-letter__header img {
        max-width: 88px;
    }

    .cover-letter__header h1 {
        font-size: 3rem;
    }

    .contact-menu__list-item > a{
        width: 90%;
        padding: 7px 5vw;
    }


}

@media (max-width:480px){

    .cover-letter{
        padding: 10px 5vw;
    }

    .cover-letter__header img {
        max-width: 58px;
    }

    .cover-letter__header h1 {
        font-size: 2rem;
    }

    .contact-menu__list-item > a{
        width: 90%;
        padding: 7px 5vw;
        /*margin: 10px 0;
        background-color: #7890a8;
        border-radius: 25px;

        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        transition: all 0.3s;*/
    }

    /*.contact-menu__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }*/

    /*.contact-menu__list-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }*/


}




