.text-mobile {
  display: none; /* Oculta la versión corta */
}

.text-desktop {
  display: inline; /* Muestra la versión larga */
}

@media (max-width:480px){

    .form-promedio {
        overflow-x: hidden;
        width: 100%;
        max-width: 100%;

        display: flex; /* Mas conveniente al no manejar 2 direcciones*/
        flex-flow: column nowrap; /* Cambiado de row (default) a column para el contenido */
        justify-content: center;
        align-items: center;
        gap: 20px;
    } 

    .grades-student-EC legend {
        padding: 0 5px;
        font-size: 1.1rem;
        text-align: center;
    }

    .grades-student-EC p {
        margin: 0 10px;
        margin-top: 10px;
        font-size: 1rem;
    }

    .grade-student {
        width: 93%;
        box-sizing: border-box;
        border-radius: 25px;
        padding: 5px 8px;
        gap: 7px;
    }

    .grade-student label {
        font-size: 0.95rem;
        text-wrap: balance;
        text-align: center;
    }

    #capacity-assessment-1,
    #capacity-assessment-2,
    #capacity-assessment-3,
    #capacity-assessment-4,
    #nota-promedio {
        min-width: 62px;
        padding: 3px 3px;
        border-radius: 11px;
    }

    .nota-minima,
    .nota-minima--example {
        min-width: 62px;
        padding: 3px 3px;
        border-radius: 11px;
    }

    .grades-student-ExaTA legend{
        font-size: 1.2rem;
    }

    .grades-student-ExaTA p{
        margin: 0 15px;
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
        text-wrap: pretty;
    }

    .field-group {
        width: 93%;
        box-sizing: border-box;
        padding: 5px 8px;
    }

    .field-group label {
        font-size: 0.95rem;
        text-align: center;
    }

    #ExamenParcial,
    #ExamenFinal,
    #TrabajoAplicativo { 
        min-width: 62px;
        padding: 3px 3px;
        border-radius: 11px;
    }

    /* Para abreviar los label ================================== */

    .text-desktop {
        display: none; /* Oculta la versión larga */
    }

    .text-mobile {
        display: inline; /* Muestra la versión corta */
    }
}